<div class="post">
	<div class="postTitle">
    <h2><%= link_to topic.title, permalink(topic) %></a></h2>
		<p>
		<%= age topic.created_at -%>
		</p>
	</div>
	<div class="postBody">
    <% if post %>
      <%= post.cooked.html_safe %>
    <% else %>
    <%=
      if summary=topic.custom_fields["cooked_summary"]
        summary.html_safe
      end
    %>
		<p class="readMore">
      <%= link_to "Continue Reading", permalink(topic) %>
		</p>
    <% end %>
	</div>
	<div class="postFooter">
		<p>
			Posted by: Sam&nbsp;&nbsp;&nbsp;&nbsp;
			<%= link_to "Permalink", topic.custom_fields["permalink"] %> |
      <%= link_to "Comments" + (topic.posts_count==1?"":" (#{topic.posts_count-1})") , permalink(topic) + "#comments" %>
		</p>
	</div>
</div>
