<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="author" content="Sam Saffron" />
  <meta name="copyright" content="Sam Saffron" />
  <meta content="Sam, Saffron, .NET, C#, Ruby, Rails, Weblog, SQL, Blog" name="keywords" />
  <meta name="description" content="Sam's Spot - Sam saffron's web log" />
  <%= csrf_meta_tag %>
  <link rel="alternate" type="application/rss+xml" title="Sam Saffron's Blog (RSS 2.0)" href="http://samsaffron.com/posts.rss"  />
  <title><%= yield :title  %></title>
  <link rel="stylesheet" href="/plugins/blog/blog.css?2">
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="headerLogo">
        <div class='htitle'>
          <h3>Sam Saffron</h3>
          <p class='tagline'>Programming, Technology and the Art of Hacking</p>
        </div>
        <ul>
          <li>Ruby</li>
          <li>MiniProfiler</li>
          <li>SQL</li>
          <li>Dapper</li>
          <li>Media Browser</li>
          <li>C#</li>
        </ul>
			</div>
			<div class="clear"></div>
			<%= render :partial => "layouts/navbar" %>
		</div>
    <div id="content-wrapper">
      <div id="content">
        <%= yield %>
      </div>
      <% if controller.show_sidebar %>
      <div id="sidebar">
        <%= render :partial => "layouts/sidebar" %>
      </div>
      <% end %>
    </div>
		<div id="footer">
			syndication: <%= link_to "rss", "/posts.rss" %> <%= link_to "atom", "/posts.atom" %>
		</div>
	</div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50203-9']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_setSiteSpeedSampleRate', 20]);
  </script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

  <script>
    $(function() {
      $('pre > code').each(function(i, e) {
        hljs.highlightBlock(e, '    ');
      })
    })
  </script>
  <script type="text/javascript" src="https://www.google-analytics.com/ga.js"></script>
</body>

