<div class='stackoverflow section'>
  <a href="http://stackexchange.com/users/9321">
    <img src="http://stackexchange.com/users/flair/9321.png" width="208" height="58"
          alt="profile for Sam Saffron on Stack Exchange, a network of free, community-driven Q&A sites"
          title="profile for Sam Saffron on Stack Exchange, a network of free, community-driven Q&A sites">
  </a>
  <h3>Stack Overflow answers</h3>
  <ul class="so-answers">
    <% latest_answers.each do |a| %>
      <li>
        <a href="http://stackoverflow.com/q/<%=a[:id]%>/17174">
          <%=a[:title]%>
        </a>
        <span>
          <%= time_ago_in_words(a[:date]) + " ago" %>
        </span>
      </li>
    <% end %>
    <li>
      <a class="last" href="http://stackoverflow.com/users/17174/sam-saffron#anpage_1-ansort_recent">more answers</a>
    </li>
  </ul>
</div>
<div class="twitter section">
  <h3>Twitter updates</h3>
  <ul class="tweets">
    <% latest_tweets.each do |t| %>
      <li>
        <%= t[:text].html_safe %>
        <a href="http://twitter.com/samsaffron/statuses/<%=t[:id]%>">
          <%= time_ago_in_words(t[:date]) + " ago" %>
        </a>
      </li>
    <% end %>
    <li>
      <a class="last" href="http://twitter.com/#!/samsaffron">@samsaffron</a>
    </li>
  </ul>
</div>
